* {
    font-family: 'VT323', monospace;
}

body {
	box-sizing: border-box;
    margin: auto;
    background-color:bisque
}

.top-section {
    font-family: 'VT323', monospace;
	color: purple;
    size: 50px;
    text-align: center;
    font-size: 25px;
}

.gamelayout {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex; 
    margin: 0 auto;
    width: fit-content;
}

.square {
    border: 3px solid black;
	height: 140px;
    width: 140px;
	text-align: center;
    margin: 15px;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    size: 50px;
    text-align: center;
    color: darkseagreen; 
}

#currentplayer {
    color: darkseagreen;
}

#restart {
    background-color: darkseagreen;
    font-size: 22px;
}

.display-results {
    color: darkseagreen;
}


