body {
	box-sizing: border-box;
    margin: auto;
    background-color:bisque
  }

  .top-section {
    
	color: purple;
    size: 50px;
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 17px;

}

  .gamelayout {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        margin: 0px;
        display: flex; 
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        line-height: 0px;
        
  }

  .square {
      border: 3px solid black;
	padding: 70px;
	text-align: center;
    margin: 15px;
    border-radius: 25px;
    
}
    h2 {
    size: 50px;
    text-align: center;
    }

#currentplayer {
    color: green;
}


.secretbutton {
	display: none;
    background-color: darkseagreen;
  
}

.display-results {
    color: darkseagreen;

}


